@CHARSET "ISO-8859-1";

#pagina{
	background-image: url("./../imagenes/fondo.jpg");	
}

#cabecera{
	width: 100%;
	text-align: center;
}

#cuerpo{
	width:100%;
	height: 100%;
	display: -webkit-flex;	
	
}

#menu{
	width: 12.5%;
	float:left;
}

#contenido{
	width: 87%;
	float: right;
	background-color: White;
}

#mapa{
	width:100%;
	height: 600px;
}

#pie{
	width: 100%;
	background-color: White;
	text-align: center;
}

.coordenadas { text-align: center; padding: 20px; margin-bottom: 20px; }
form.coordenadas { font-size: 16px; }
form.coordenadas div { clear: left; margin-bottom: 10px; }
form.coordenadas label { float: left; margin-right: 10px; text-align: right; width: 50px; font-weight: bold; vertical-align: top; padding-top: 10px; }
form.coordenadas input[type="text"],
form.coordenadas input[type="email"]
    { width: 180px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.coordenadas textarea { width: 250px; height: 150px; line-height: 26px; font-size: 20px; }


